.events-page {
    margin: 150px 0; 
}

.event-title {
    font-size: 7rem;
    font-weight: 700;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    color: #d9d9d9;
    mix-blend-mode: difference;
    text-transform: uppercase;
}

