.team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 150px;
}

.team-head {
    
    font-size: 3rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    text-align: right;
    margin: 0 70px;
    color: #d9d9d9;
    margin-top: 5%;
}

/* Faculty tab */

.team-faculty-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.hod-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.hod-cont h1 {
    font-size: 1.75rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    text-wrap: wrap;
    text-align: center;
}

.hod {
    width: 250px;
    height: 460px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    border-radius: 10px;
}

.faculty-cont {
    display: flex;
    flex-wrap: wrap;
    width: 250px;

    flex-direction: column;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

.faculty {
    background-color: #d9d9d9;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    border-radius: 10px;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .team {
        padding: 0 100px;
    }

    .team-head {
        font-size: 2.5rem;
        margin: 0 50px;
    }

    .hod, .faculty {
        width: 200px;
        height: auto;
    }

    .hod-cont, .faculty-cont {
        width: 200px;
    }

    .hod-cont h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .team {
        padding: 0 50px;
        flex-direction: column;
    }

    .team-head {
        font-size: 2rem;
        margin: 0 30px;
        text-align: center;
    }

    .hod, .faculty {
        width: 150px;
        height: auto;
    }

    .hod-cont, .faculty-cont {
        width: 150px;
    }

    .hod-cont h1 {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .team {
        padding: 0 20px;
    }

    .team-head {
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .hod, .faculty {
        width: 100px;
        height: auto;
    }

    .hod-cont, .faculty-cont {
        width: 100px;
    }

    .hod-cont h1 {
        font-size: 1rem;
    }
}

/* Student Tab */


.student-scroll {
    background-color: #004468;
    height: max-content;
}

.custom-scroll-text {
    font-size: 2rem;
}