.verticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 50px auto;
}

div.masonry {
    gap: 10px;
}

.verticles-title {
    font-size: 3rem;
    font-weight: 700;
    color: #d9d9d9;
}